<div class="container fixed">
  <div class="row">
        <div class="large-2 columns">
          <h6>Who</h6>
          <p>Family &amp; Friends of ZURB</p>
        </div>
        <div class="large-2 columns">
          <h6>What</h6>
          <p>15<sup>th</sup> Birthday Party</p>
        </div>
        <div class="large-3 columns">
          <h6>Where</h6>
          <p><a href="http://goo.gl/maps/Jjhhi" class="map">100 W Rincon Ave, Campbell, CA 95008</a></p>
        </div>
        <div class="large-3 columns">
          <h6>When</h6>
          <p>Saturday, April 20, 2013 at 7:00pm</p>
        </div>
        <div class="large-2 columns">
          <a class="small button" data-reveal-id="RSVP">RSVP NOW</a>
        </div>
  </div>
</div>

<div class="container hero">
  <div class="row">
    <div class="small-12 columns">
      <h1 class="logo">ZURB</h1>
      <h2>We&rsquo;re celebrating our brand new office building and 15 years of helping people design for people</h2>
      <p class="hide-for-small">You're invited! <a data-reveal-id="RSVP">RSVP by April 13 &rarr;</a></p>
      <div class="row show-for-small">
        <div class="small-4 columns">
          <h6>Who</h6>
        </div>
        <div class="small-8 columns">
          <p>Family &amp; Friends of ZURB</p>
        </div>
      </div>
      <div class="row show-for-small">
        <div class="small-4 columns">
          <h6>What</h6>
        </div>
        <div class="small-8 columns">
          <p>15<sup>th</sup> Birthday Party</p>
        </div>
      </div>
      <div class="row show-for-small">
        <div class="small-4 columns">
          <h6>Where</h6>
        </div>
        <div class="small-8 columns">
          <p><a href="http://goo.gl/maps/Jjhhi" class="map">100 W Rincon Ave, Campbell, CA</a></p>
        </div>
      </div>
      <div class="row show-for-small">
        <div class="small-4 columns">
          <h6>When</h6>
        </div>
        <div class="small-8 columns">
          <p>Saturday, April 20 at 7:00pm</p>
        </div>
      </div>
      <p class="show-for-small"> <a href="#" class="button">RSVP ON EVENTBRITE</a></p>
      <img src="images/15.jpg">
    </div>  
  </div>
</div>

<div class="container timeline">
  <div class="row">
    <div class="small-12 columns">
      <h2>A walk down memory lane</h2>
      
      <div class="row" id="1998">
        <div class="large-6 small-12 columns image left">
          <img src="images/z.png">
        </div>
        <div class="large-6 small-12 columns text right">
          <span>1998</span> <p>Bryan started ZB design to help people figure out their design problems. His first project didn't go so well. He rallied to overcome that first disappointment to crush his next project.</p>
        </div>
      </div>
      
      <div class="row" id="1999">
        <div class="large-6 small-12 columns image right">
          <img src="images/zurb.png">
        </div>
        <div class="large-6 small-12 columns text left">
          <span>1999</span> <p>After going through 50 four-letter domains, ZURB was chosen for its energy and also because it appropriately described Bryan's hair.</p>
        </div>
      </div>
      
      <div class="row" id="2000">
        <div class="large-6 small-12 columns image left">
          <img src="images/cupnoodles.png">
        </div>
        <div class="large-6 small-12 columns text right">
          <span>2000</span> <p>Bryan decided to devote himself full-time to the business and hunkered down in his apartment with a cupboard full of Cup Noodles. Our first startup client, Rentpayment.com, still exists today.</p>
        </div>
      </div>
      
      <div class="row" id="2001">
        <div class="large-6 small-12 columns image right">
          <img src="images/zurb-photos.png">
        </div>
        <div class="large-6 small-12 columns text left">
          <span>2001</span> <p>Bryan set up a photography site, ZURBphotos. Tons of people started asking to use his photos. This influenced the creation of another business at ZURB and cemented our commitment to taking risks through experimentation.</p>
        </div>
      </div>
      
      <div class="row" id="2003">
        <div class="large-6 small-12 columns image left">
          <img src="images/intern.png">
        </div>
        <div class="large-6 small-12 columns text right">
          <span>2003</span> <p>ZURB hired its first intern. Work continued to help all different types of startups with interface design.</p>
        </div>
      </div>
      
      <div class="row" id="2004">
        <div class="large-6 small-12 columns image right">
          <img src="images/lg.png">
        </div>
        <div class="large-6 small-12 columns text left">
          <span>2004</span> <p>Our first 600 square foot office was set-up in Los Gatos. Our first network included a shared account to Earthlink and a floppy disk.</p>
        </div>
      </div>
      
      <div class="row" id="2005">
        <div class="large-6 small-12 columns image left">
          <img src="images/55n3rd.png">
        </div>
        <div class="large-6 small-12 columns text right">
          <span>2005</span> <p>We moved to a 1500 square foot office in Campbell. We later took over double the space in the same office building.</p>
        </div>
      </div>
      
      <div class="row" id="2006">
        <div class="large-6 small-12 columns image right">
          <img src="images/zurbwired.png">
        </div>
        <div class="large-6 small-12 columns text left">
          <span>2006</span> <p>ZURB held its first 24-hour ZURBwired event, a marathon design event done for one lucky non-profit. This tradition continues annually.</p>
        </div>
      </div>
      
      <div class="row" id="2008">
        <div class="large-6 small-12 columns image left">
          <img src="images/100.png">
        </div>
        <div class="large-6 small-12 columns text right">
          <span>2008</span> <p>At this point, ZURB had helped 100 startups. We believe Design with a capital "D" is causing a sea of change in the product design business. We're so excited by this and want to lead its adoption by more people.</p>
        </div>
      </div>
      
      <div class="row" id="2009">
        <div class="large-6 small-12 columns image right">
          <img src="images/notable.png">
        </div>
        <div class="large-6 small-12 columns text left">
          <span>2009</span> <p>ZURB launched Notable, the first of our product design apps made to speed up feedback on website details, as a way to extend its service offering to help people design great products faster.</p>
        </div>
      </div>
      
      <div class="row" id="2010">
        <div class="large-6 small-12 columns image left">
          <img src="images/verify.png">
        </div>
        <div class="large-6 small-12 columns text right">
          <span>2010</span> <p>ZURB launched its second platform app, Verify, the fastest way to collect and analyze user feedback.</p>
        </div>
      </div>
      
      <div class="row" id="2011">
        <div class="large-6 small-12 columns image right">
          <img src="images/foundation.png">
        </div>
        <div class="large-6 small-12 columns text left">
          <span>2011</span> <p>The ZURB team grew to 14 people and expanded beyond consulting to pursue five revenue streams: consulting services, products, talent, events and publishing. We released our open-source front-end framework, Foundation.</p>
        </div>
      </div>
      
      <div class="row" id="2012">
        <div class="large-6 small-12 columns image left">
          <img src="images/world-domination.png" class="world">
        </div>
        <div class="large-6 small-12 columns text right">
          <span>2012</span> <p>At this point, ZURB has helped more than 200 startups. ZURBapps launched, which represents over 3 years of development that includes 11 apps. We're well on our quest for world domination.</p>
        </div>
      </div>
      
      <div class="row last" id="2013">
        <div class="small-12">
          <img src="images/building.png">
          <h2>Come celebrate our history, and be a part of our future. Enjoy a night out of music, food, drinks and good times.</h2>
          <p class="hide-for-small">Saturday, April 20, 7:00pm &nbsp; | &nbsp; <a href="http://goo.gl/maps/Jjhhi">100 W Rincon Ave, Campbell, CA</a></p>
          <p class="show-for-small">Saturday, April 20, 7:00pm<br><a href="http://goo.gl/maps/Jjhhi">100 W Rincon Ave, Campbell, CA</a></p>
          <a class="large button" data-reveal-id="RSVP">RSVP BY APRIL 13</a>
          <p class="small">Changing your response or need to get in touch? Email <a href="mailto:shawna@zurb.com">shawna@zurb.com</a></p>
        </div>
      </div>
      
      <span class="dot" style="top: 171px;"></span>
      <span class="dot" style="top: 403px;"></span>
      <span class="dot" style="top: 633px;"></span>
      <span class="dot" style="top: 862px;"></span>
      <span class="dot" style="top: 1092px;"></span>
      <span class="dot" style="top: 1322px;"></span>
      <span class="dot" style="top: 1552px;"></span>
      <span class="dot" style="top: 1782px;"></span>
      <span class="dot" style="top: 2012px;"></span>
      <span class="dot" style="top: 2242px;"></span>
      <span class="dot" style="top: 2472px;"></span>
      <span class="dot" style="top: 2702px;"></span>
      <span class="dot" style="top: 2932px;"></span>
      <span class="line"></span>
    </div>
  </div>
</div>

<div id="RSVP" class="small reveal-modal">
  <h2>Please RSVP by April 13</h2>
  <div id="invalid-name" class="ui-state-error alert-box alert message" style="display: none">Please provide your name.</div>
  <div id="invalid-email" class="ui-state-error alert-box alert message" style="display: none">Please provide your email.</div>
  <form class="custom" id="reserve" action="/" method="post">
    <div class="row">
      <div class="small-6 columns yes">
        <label for="yes"><input name="attending" type="radio" id="yes" style="display:none;" value="1" CHECKED><span class="custom radio checked"></span> Heck yeah!</label>     
      </div>
      <div class="small-6 columns no">
        <label for="no"><input name="attending" type="radio" id="no" value="0" style="display:none;"><span class="custom radio"></span> No can do</label>
      </div>
    </div>
    
    <div class="row">
      <div class="small-12 columns">
        <input type="text" name="name" id="name" placeholder="Your Name" data-h5-errorid="invalid-name" required />
      </div>
    </div>
    
    <div class="row">
      <div class="small-12 columns">
        <input type="text" name="email" id="name" class="h5-email" placeholder="Your Email" data-h5-errorid="invalid-email" required />
      </div>
    </div>
    
    <div class="row">
      <div class="small-12 columns small-centered">
        <input type="text" name="guests" id="name" placeholder="# Guests">
      </div>
    </div>
    
    <a class="button disabled" id="submit" data-reveal-id="thanks-yes">SUBMIT</a>
  </form>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="thanks" class="small reveal-modal">
  <br>
  <p class="lead">See you at the party!</p>
  <a class="close-reveal-modal">&#215;</a>
</div>